<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758218976259-u6l1e9t3r8kp325k5hgl06n0sgcho59b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758218976259-u6l1e9t3r8kp325k5hgl06n0sgcho59b</string>
	<key>API_KEY</key>
	<string>AIzaSyB5jbuknsB9wFM3O0O3UuW_XWeonA3Tsgw</string>
	<key>GCM_SENDER_ID</key>
	<string>758218976259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klose.sensorTrack</string>
	<key>PROJECT_ID</key>
	<string>iota-7b8f3</string>
	<key>STORAGE_BUCKET</key>
	<string>iota-7b8f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758218976259:ios:b3a8bb1a87a934d13db236</string>
	<key>DATABASE_URL</key>
	<string>https://iota-7b8f3.firebaseio.com</string>
</dict>
</plist>